{% extends "base.html.twig" %}
{% block title%}
	SymRecipe - Acceuil
{% endblock %}
{% block body %}
<div class="contenair mt-4">
	<div class="jumbotron">
		<h1 class="display-4">Test GCA</h1>
		<p class="lead">Description Test GCA</p>
		<hr class="my-4">
		<p>Go to inscrption</p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Inscrption</a>
	</div>
</div>
{% endblock %}
